<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Парсер HH</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top">Beluncho</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="index.html">Главная страница</a></li>
                        <li class="nav-item"><a class="nav-link" href="form.html">Поиск вакансий</a></li>
                        <li class="nav-item"><a class="nav-link" href="contacts.html">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Основные умения востребованные работодателями</h1>
                <p class="lead">Сайт поможет вам обратить внимание на требования работодателей
                    (на основе вакансиий HH)</p>
                <a class="btn btn-lg btn-light" href="#services">начни поиск</a>
            </div>
        </header>

        <section class="bg-light" id="services">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Форма для поиска</h2>
                            <form>
                              <div class="form-group">
                                <label for="vacancy">Название вакансии</label>
                                <input type="email" class="form-control" id="vacancy" aria-describedby="emailHelp"
                                       placeholder="Введите название вакансии">

                                  <br>

                              </div>
                              <div class="form-group">
                                <label for="region">Регион поиска</label>
                                <input type="email" class="form-control" id="region" placeholder="Введите регион посика ">
                              </div>

                                <br>

                              <a type="submit" class="btn btn-primary" href="#result">Поиск</a>
                            </form>

                    </div>
                </div>
            </div>
        </section>

        <section class="bg-light" id="result">
            <div class="container px-4">
                    <div class="row gx-4 justify-content-center">
                        <div class="col-lg-8">
                            <h2>Тут будет результат</h2>
                            <table class="table table-bordered table-dark">
                              <thead>
                                <tr>
                                  <th scope="col">Порядок востребованности</th>
                                  <th scope="col">Умения\skils</th>
                                  <th scope="col">Процент встречаемости</th>
                                  <th scope="col">/средний уровень з\п</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td>python</td>
                                  <td>50%</td>
                                  <td></td>
                                </tr>
                                <tr>
                                  <th scope="row">2</th>
                                  <td>django</td>
                                  <td>38%</td>
                                  <td></td>
                                </tr>
                                <tr>
                                  <th scope="row">3</th>
                                  <td>sqlalchemy</td>
                                  <td>12%</td>
                                  <td></td>
                                </tr>
                                <tr>
                                  <th scope="row">Вакансий/</th>
                                  <td colspan="2"></td>
                                  <td>478 вакансий / 187 647 р</td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </section>
    </body>
</html>
